{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/ds4alogo.PNG') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Equipo 67</p>
  <a href="/dashapp/" class="dash-link">
    <span>Ver Mapas</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
